<div class="header container">
  <div class="row pg">
    <div class="twelve columns">
      <span class="logo">
        <h1>Top 100</h1>
      </span>
      <%= render 'shared/pager' %>
    </div>
  </div>
</div>

<div class="photos container">
  <% @photos.each_slice(4) do |row| %>
    <div class="row">
      <% row.each do |photo| %>
        <div class="photo three columns">
          <img src="<%= photo.image_url %>" class="responsive" />
          <div class="name"><%= photo.name %></div>
          <div class="artist"><%= photo.user.fullname %></div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>

<div class="footer container">
  <div class="row pg">
    <div class="twelve columns">
      <%= render 'shared/pager' %>
    </div>
  </div>
</div>
