<div class="container">
  <div class="row">
    <div class="six columns">
      <h1>Top 100</h1>
    </div>
    <div class="six columns pagination-wrapper">
      <%= render 'shared/pager' %>
    </div>
  </div>
</div>

<div class="top100 container">
  <% @photos.each_slice(4) do |row| %>
    <div class="row">
      <% row.each do |photo| %>
        <div class="photo three columns">
          <img src="<%= photo.image_url %>" class="responsive" />
          <div class="name"><%= photo.name %></div>
          <div class="artist"><%= photo.user.fullname %></div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>

<div class="container">
  <div class="row">
    <div class="twelve columns pagination-wrapper">
      <%= render 'shared/pager' %>
    </div>
  </div>
</div>
