<div class="top100 container">
  <% @photos.each_slice(4) do |row| %>
    <div class="row">
      <% row.each do |photo| %>
        <div class="photo three columns">
          <img src="<%= photo.image_url %>" class="responsive" />
        </div>
      <% end %>
    </div>
  <% end %>
</div>

<div class="pagination">
  <% if @current_page != 1 %>
    <div class="first"><a href="<%= root_path(page: 1) %>">&laquo;</a></div>
    <div class="prev"><a href="<%= root_path(page: @current_page - 1) %>">&lsaquo;</a></div>
  <% end %>
    <div class="pages"><%= paginate(@total_pages, @current_page) %></div>
  <% if @current_page != @total_pages %>
    <div class="next"><a href="<%= root_path(page: @current_page + 1) %>">&rsaquo;</a></div>
    <div class="last"><a href="<%= root_path(page: @current_page) %>">&raquo;</a></div>
  <% end %>
  </div>
</div>
